<div class="container">
  <div class="row justify-content-between">
    <div class="col-md-3 py-3">
      <h4>商品一覧</h4>
    </div>
    <div class="col-md-3 py-3">
      <%= link_to new_admin_item_path do %>
        <i class="fal fa-plus-circle"></i>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <table class="table">
        <thead>
          <th scope="col", style="width:25%">商品id</th>
          <th scope="col", style="width:25%">商品名</th>
          <th scope="col", style="width:25%">税抜価格</th>
          <th scope="col", style="width:25%">ステータス</th>
        </thead>
        <% @items.each do |item| %>
        <tbody>
          <td scope="row">
            <%= item.id %>
          </td>
          <td scope="row">
            <%= link_to admin_item_path(item.id) do %>
              <%= item.name %>
            <% end %>
          </td>
          <td scope="row">
            <%= item.price.to_s(:delimited) %>
          </td>
          <% if item.is_active == true %>
            <th scope="row", class="text-success">販売中</th>
          <% else %>
            <th scope="row", class="text-muted">販売停止中</th>
          <% end %>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
  <div class="d-flex justify-content-center">
   <%= paginate @items %>
  </div>
</div>

