<h2>商品新規登録</h2>

<% if @item_new.errors.any? %>
  <%= @item_new.errors.count %>件のエラーが発生しました
  <ul>
    <% @item_new.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: Item.new, url: admin_items_path do |f| %>
<div>
  <p>商品画像</p>
    <%= f.file_field :item_image, placeholder:"ファイルを選択" %>
</div>
<div>
  <p>商品名</p>
    <%= f.text_field :name, placeholder:"商品名" %>
</div>
<div>
  <p>商品説明</p>
    <%= f.text_area :introduction, placeholder:"ここに説明文を記述します" %>
</div>
<!--<div>-->
<!--  <p>ジャンル</p>-->
    <%#= f.select :genre_id, placeholder:"選択してください" %>
<!--</div>-->
<div>
  <p>販売価格</p>
    <%= f.text_field :price, placeholder:"1000" %>円
</div>
<div>
  <p>販売ステータス</p>
    <%= f.radio_button :is_active, true %>
    <%= f.label :"販売中" %>
    <%= f.radio_button :is_active, false %>
    <%= f.label :"販売停止中" %>
</div>

  <%= f.submit '新規登録' %>
<% end %>