<div class="container">
  <% if @item_new.errors.any? %>
    <%= @item_new.errors.count %>件のエラーが発生しました
    <ul>
      <% @item_new.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="row">
    <h4 class="p-3">商品新規登録</h4>
  </div>

  <div class="mb-10">
  <%= form_with model: Item.new, url: admin_items_path do |f| %>

    <div class="form-group row">
      <%= f.label "商品画像", class: "col-md-2 offset-md-2 col-form-label" %>
      <div class="col-md-6">
        <%= f.file_field :item_image, placeholder:"ファイルを選択"  %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label "商品名", class: "col-md-2 offset-md-2 col-form-label" %>
      <div class="col-md-5">
        <%= f.text_field :name, placeholder:"商品名",  class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label "商品説明", class: "col-md-2 offset-md-2 col-form-label" %>
      <div class="col-md-5">
        <%= f.text_area :introduction, placeholder:"ここに説明文を記述します",  class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label "販売価格", class: "col-md-2 offset-md-2 col-form-label" %>
      <div class="col-md-5 pr-0">
        <%= f.text_field :price, placeholder:"1000",  class: "form-control" %>
      </div>
      <div class="col-md-1 pl-0">
        円
      </div>
    </div>

    <div class="form-group row">
      <%= f.label "販売ステータス", class: "col-md-2 offset-md-2 col-form-label" %>
      <div class="col-md-2">
        <%= f.radio_button :is_active, true %>
        <%= f.label :"販売中" %>
      </div>
      <div class="col-md-2">
        <%= f.radio_button :is_active, false %>
        <%= f.label :"販売停止中" %>
      </div>
    </div>
    <div class="row  justify-content-center">
      <div class="col-auto ">
        <%= f.submit "新規登録", class: "btn btn btn-success px-5 py-2" %>
      </div>
    </div>
  </div>
  <% end %>
</div>



