<h1>Admin::Customers#edit</h1>
<p>Find me in app/views/admin/customers/edit.html.erb</p>



<div>
  <p>会員ID</p>
    <%= @customer_show.id %>
</div>

<%= form_with model: @customer_show, url: admin_customer_path do |f| %>
<div>
  <p>氏名</p>
    <%= f.text_field :last_name %>
    <%= f.text_field :first_name %>
</div>
<div>
  <p>フリガナ</p>
    <%= f.text_field :last_name_kana %>
    <%= f.text_field :first_name_kana %>
</div>
<div>
  <p>郵便番号</p>
    <%= f.number_field :postal_code %>
</div>
<div>
  <p>住所</p>
    <%= f.text_field :address %>円
</div>
<div>
  <p>電話番号</p>
    <%= f.number_field :telephone_number %>
</div>
<div>
  <p>メールアドレス</p>
    <%= f.email_field :email %>円
</div>
<div>
  <p>会員ステータス</p>
    <%= f.radio_button :is_deleted, true %>
    <%= f.label :"有効" %>
    <%= f.radio_button :is_deleted, false %>
    <%= f.label :"無効" %>
</div>

  <%= f.submit '変更を保存', class: "btn btn-sm btn-success" %>
<% end %>