<h1>Admin::Customers#show</h1>
<p>Find me in app/views/admin/customers/show.html.erb</p>

<h2><%= @customer_show.last_name %><%= @customer_show.first_name %>さんの会員詳細</h2>
<div>

  <p>会員ID：<%= @customer_show.id %></p>
  <p>氏名：<%= @customer_show.last_name %><%= @customer_show.first_name %></p>
  <p>フリガナ：<%= @customer_show.last_name_kana %><%= @customer_show.first_name_kana %></p>
  <p>郵便番号：<%= @customer_show.postal_code %></p>
  <p>住所：<%= @customer_show.address%></p>
  <p>電話番号：<%= @customer_show.telephone_number %></p>
  <p>メールアドレス：<%= @customer_show.email %></p>
  <p>会員ステータス：<%= @customer_show.is_deleted %></p>
  <%= link_to "編集する", edit_admin_customer_path(@customer_show)  %>
</div>
