<div class="container">
  <div class="py-6 row">
    <h4 class="p-3">注文履歴詳細</h4>
  </div>
  <div class="row">
    <div class="col-md-5 align-self-center">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td scope="row", style="width:40%">
              購入者
            </td>
            <td>
              <%= @order.customer.last_name %><%= @order.customer.first_name %>
            </td>
          </tr>
          <tr>
            <td>
              注文日
            </td>
            <td>
              <%= @order.created_at.strftime("%Y/%m/%d") %>
            </td>
          </tr>
          <tr>
            <td>
              発送先
            </td>
            <td>
              〒<%= @order.postal_code %><%= @order.address %><br>
              <%= @order.name %>
            </td>
          </tr>
          <tr>
            <td>
              支払方法
            </td>
            <td>
             <%= @order.payment_method_i18n %>
            </td>
          </tr>
          <tr>
            <td>
              注文ステータス
            </td>
            <td>
            <%= form_with model: @order, url: admin_order_path, method: :patch do |f| %>
              <%= f.select :status, Order.statuses_i18n.invert %>
              <%= f.submit '更新', class: "btn btn-sm btn-success" %>
            <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row align-items-end">
    <div class="col-md-9">
      <table class="table">
        <thead>
          <tr>
            <th scope="col", style="width:30%">商品名</th>
            <th scope="col", style="width:20%">単価（税込）</th>
            <th scope="col", style="width:10%">数量</th>
            <th scope="col", style="width:15%">小計</th>
            <th scope="col", style="width:25%">ステータス</th>
          </tr>
        </thead>
        <tbody>
        <% total = 0 %>
        <% @order_details.each do |order_detail| %>
          <tr>
            <td>
              <%= order_detail.item.name %>
            </td>
            <td>
              <%= order_detail.add_tax_price.to_s(:delimited) %>
            </td>
            <td>
              <%= order_detail.amount %>
            </td>
            <td>
              <%= order_detail.line_total.to_s(:delimited)  %>
              <% total += order_detail.line_total %>
            </td>
            <td>
            <%= form_with model: order_detail, url: admin_order_detail_path(order_detail), method: :patch do |f| %>
              <%= f.hidden_field :order_id, :value => order_detail.order_id %>
              <%= f.select :status, OrderDetail.statuses_i18n.invert %>
              <%= f.submit '更新', class: "btn btn-sm btn-success" %>
            <% end %>
            </td>
          <% end %>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-3">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th scope="row", style="width:55%">
              商品合計
            </th>
            <td class="text-right">
              <%= total.to_s(:delimited) %>円
            </td>
          </tr>
          <tr>
            <th>
              送料
            </th>
            <td class="text-right">
              <%= @order.shipping_cost %>円
            </td>
          </tr>
          <tr>
            <th class="pr-0">
              請求合計金額
            </th>
            <th class="text-right">
              <%= (total+=@order.shipping_cost).to_s(:delimited) %>円
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



