<div class="container">
  <div class="row">
    <h4 class="p-3">注文情報確認</h4>
  </div>
  <div class="row">
    <div class="col-md-9">
      <table class="table table-bordered">
        <thead>
          <th scope="col", style="width:40%">商品名</th>
          <th scope="col", style="width:20%">単価(税込)</th>
          <th scope="col", style="width:20%">数量</th>
          <th scope="col", style="width:20%">小計</th>
        </thead>
        <tbody>
    <% total=0 %>
        <% @cart_items.each do |cart_item| %>
          <td scope="row">
            <%= image_tag cart_item.item.get_item_image, size: "40x15" %>
            <%= cart_item.item.name %>
          </td>
          <td scope="row">
            <%= cart_item.item.add_tax_price.to_s(:delimited) %>
          </td>
          <td scope="row">
            <%= cart_item.amount %>
          </td>
          <td scope="row">
            <%= cart_item.line_total.to_s(:delimited) %>
            <% total+=cart_item.line_total %>
          </td>
        </tbody>
        <% end %>
      </table>
    </div>
    <div class="col-md-3">
      <table class="table table-bordered">
    <tbody>
      <tr>
        <th scope="row", style="width:50%">
          送料
        </th>
        <td>
          <%= @order.shipping_cost %>
        </td>
      </tr>
      <tr>
        <th scope="row", style="width:50%">
          合計金額
        </th>
        <td>
          <%= total.to_s(:delimited) %>
        </td>
      </tr>
      <tr>
        <th scope="row", style="width:50%">
          請求金額
        </th>
        <td>
          <%= (total+@order.shipping_cost).to_s(:delimited) %>
        </td>
      </tr>
    </tbody>
  </table>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-2">
      <strong>支払方法</strong>
    </div>
    <div class="col-md-10">
      <%= @order.payment_method_i18n %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-2">
      <strong>お届け先</strong>
    </div>
    <div class="col-md-10">
      〒<%= @order.postal_code %><%= @order.address %></br>
      <%= @order.name %>
    </div>
  </div>

  <%= form_with model: @order_sending, url: orders_path do |f| %>
    <%= f.hidden_field :postal_code, :value => @order.postal_code %>
    <%= f.hidden_field :address, :value => @order.address %>
    <%= f.hidden_field :name, :value => @order.name %>
    <%= f.hidden_field :shipping_cost, :value => @order.shipping_cost %>
    <%= f.hidden_field :total_payment, :value => total+@order.shipping_cost %>
    <%= f.hidden_field :payment_method, :value => @order.payment_method %>

    <div class="row  justify-content-center">
      <div class="col-auto ">
        <%= f.submit "注文を確定する", class: "btn btn btn-success" %>
      </div>
    </div>
  <% end %>

</div>