<h1>Public::Items#show</h1>
<p>Find me in app/views/public/items/show.html.erb</p>

<p>商品名：<%= @item_show.name %></p>
<p>商品説明：<%= @item_show.introduction %></p>
<p>税抜価格：<%= @item_show.price %></p>

<%= form_with model: CartItem.new do |f| %>
  <%= f.select :amount, *[1..10] %>
  <%= f.submit 'カートに入れる' %>
<% end %>